# Env
python-dotenv>=1.0.0

# Web framework
fastapi[standard]==0.115.8
uvicorn[standard]==0.34.0
python-multipart==0.0.20

# Data
pydantic==2.10.6

# LangChain + Gemini
langchain-core>=1.2.0
langchain-google-genai>=4.0.0
